name: CD

on:
  pull_request:
    branches:
      - master
    types:
      - closed

jobs:
  deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Checkout master branch
        uses: actions/checkout@v4

      - name: Download CI artifact
        uses: actions/download-pages-artifact@v4

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
