name: CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Checkout latest main
        uses: actions/checkout@v4

      - name: Deploy the artifacts
        uses: actions/deploy-pages@v4
