name: CI

on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - development

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      pages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run tests
        run: pytest -q

      - name: Run tests with coverage
        run: |
          pytest -q \
            --cov=. \
            --cov-report=term \
            --cov-report=xml \
            --cov-report=html

      - name: Prepare artifact directory
        run: |
          mkdir -p sites
          mv htmlcov sites/
          mv coverage.xml sites/

      - name: Upload CI artifact for CD
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./sites
